/* var */
/* line 7, sass/jsonUtil.scss */
.app-container {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* line 12, sass/jsonUtil.scss */
.app-container .app-title {
  margin: 15px 10px;
  color: #333;
  font-size: 18px;
}
/* line 18, sass/jsonUtil.scss */
.app-container .app-input {
  padding: 10px;
}
/* line 21, sass/jsonUtil.scss */
.app-container .app-input .form-group {
  margin-left: 0;
  margin-right: 0;
}
/* line 28, sass/jsonUtil.scss */
.app-container .app-output .navbar {
  margin-bottom: 0;
  min-height: 0;
  border-bottom: 0;
  border-radius: 0;
}
/* line 35, sass/jsonUtil.scss */
.app-container .app-output .navbar .navbar-nav a {
  padding: 5px 10px;
  cursor: pointer;
}
/* line 42, sass/jsonUtil.scss */
.app-container .app-output .app-output-textarea {
  border-radius: 0;
  border: 0;
}
/* line 46, sass/jsonUtil.scss */
.app-container .app-output .prettyprint, .app-container .app-output .alert {
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0;
  border-top-width: 1px;
}
/* line 53, sass/jsonUtil.scss */
.app-container .app-output .prettyprint .linenums, .app-container .app-output .alert .linenums {
  margin-left: 0;
}
