/* var */
/* mixin */
/* util */
.l-h, .l-v {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.l-h > li {
  float: left;
}

.l-h > li > a, .l-v > li > a {
  display: block;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.d-b {
  display: block;
}

.d-ib {
  display: inline-block;
}

.d-i {
  display: inline;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.native-scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

/*effect*/
.collapse {
  position: relative;
  overflow: hidden;
  height: auto;
  max-height: 400px;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.collapse.close {
  max-height: 0px;
}

/*custom*/
.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

#placeholder {
  position: relative;
  top: 110px;
  left: 192px;
  width: 807px;
  background-color: #fff;
}

#left_nav {
  position: absolute;
  left: 0;
  top: 110px;
  width: 183px;
}

img {
  border: none;
}

a:link, a:visited {
  color: #1a75cf;
  text-decoration: none;
}
a:hover {
  color: #f63;
  text-decoration: underline;
}

.lnav-h {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 12px 0 0px;
}

.lnav-u a {
  line-height: 18px;
  padding: 3px 0 2px;
}
.lnav-u a:link, .lnav-u a:visited {
  color: #555555;
}
.lnav-u a:hover {
  color: #f63;
}

.lnav-cat, .lnav-fac {
  padding: 0 10px;
  margin-bottom: 10px;
}

.lnav-cat .lnav-u {
  padding-left: 10px;
}

.lnav-fac .lnav-h {
  background: url(../img/wml/btn-collapse2.jpg) no-repeat;
  background-position: 100% 2px;
  height: 35px;
  line-height: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.lnav-fac .lnav-h.close {
  background-position: 100% -28px;
}

.wml-cat {
  position: relative;
  margin-bottom: 18px;
  background: url(http://www.walmart.com/i/search/sr-horzBar.png) no-repeat 0% 100%;
}
.wml-cat .wml-cat-head {
  position: relative;
}
.wml-cat .wml-cat-title {
  margin: 0;
  padding: 8px 0 0 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #333333;
}
.wml-cat .wml-cat-time {
  font-size: 11px;
  color: #999;
}
.wml-cat .wml-cat-inner {
  position: relative;
  padding: 25px 0 15px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.wml-cat .vpt {
  position: relative;
  width: 800px;
  height: 220px;
  overflow: hidden;
}
.wml-cat .slide {
  position: relative;
  display: none;
  min-height: 318px;
  -webkit-transition: left 0.45s ease-in-out;
  -moz-transition: left 0.45s ease-in-out;
  -o-transition: left 0.45s ease-in-out;
  transition: left 0.45s ease-in-out;
}
.wml-cat .slide.active {
  display: block;
  left: 0;
}
.wml-cat .slide.active.left {
  left: -100%;
}
.wml-cat .slide.active.right {
  left: 100%;
}
.wml-cat .slide.next, .wml-cat .slide.prev {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
}
.wml-cat .slide.next {
  left: 100%;
}
.wml-cat .slide.prev {
  left: -100%;
}
.wml-cat .slide.next.left, .wml-cat .slide.prev.right {
  top: 0;
  left: 0;
}
.wml-cat .slide .item {
  margin-bottom: 16px;
  width: 200px;
  text-align: center;
}
.wml-cat .slide .item a {
  display: block;
}
.wml-cat .slide .item .item-name {
  padding: 0 15px;
  margin: 1px 0;
}
.wml-cat .slide .item .item-price {
  margin-top: 1px;
}
.wml-cat .item.itemgp {
  font-weight: bold;
  font-size: 13px;
}
.wml-cat .item.itemgp a:link, .wml-cat .item.itemgp a:visited {
  color: #333333;
}
.wml-cat .item.itemgp a:hover {
  color: #f63;
}
.wml-cat .item.itemgp .item-name {
  height: 17px;
}
.wml-cat .item-name {
  margin-top: 7px;
  padding: 0 4px;
  height: 35px;
  overflow: hidden;
}
.wml-cat .item-price {
  color: #cc0000;
  font-size: 14px;
}
.wml-cat .item-price .item-price-base {
  color: #555555;
  font-size: 11px;
  text-decoration: line-through;
}
.wml-cat .item-review, .wml-cat .item-review-inner {
  display: inline-block;
  width: 60px;
  height: 12px;
  background: url(http://www.walmart.com/i/pcache/rating/v1/star.png) repeat-x 0px 1px;
}
.wml-cat .item-review-inner {
  display: block;
  background-position: 0 -12px;
}
.wml-cat .item-reviewnum {
  font-size: 11px;
  color: #555555;
}

.wml-cat-grid .vpt {
  min-height: 352px;
  width: 100%;
}
.wml-cat-grid .item-name, .wml-cat-grid .item-group-name {
  text-align: center;
  margin: 10px 0 20px;
  height: 16px;
  overflow: hidden;
  font-size: 12px;
}
.wml-cat-grid .wml-cat-indicator {
  text-align: center;
  padding-bottom: 30px;
}
.wml-cat-grid .wml-cat-indicator a {
  display: inline-block;
  margin-right: 35px;
  background-color: #ddd;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2), inset 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2), inset 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2), inset 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 13px;
  height: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wml-cat-grid .wml-cat-indicator a {
    width: 23.4px;
    height: 23.4px;
    -webkit-border-radius: 23.4px;
    -moz-border-radius: 23.4px;
    -ms-border-radius: 23.4px;
    -o-border-radius: 23.4px;
    border-radius: 23.4px;
    margin-bottom: 10px;
  }
}
.wml-cat-grid .wml-cat-indicator a.active {
  position: relative;
  top: 1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 2px #cccccc;
  -moz-box-shadow: 0px 1px 2px #cccccc;
  box-shadow: 0px 1px 2px #cccccc;
}

.wml-cat-carousel a:hover {
  text-decoration: none;
}
.wml-cat-carousel .wml-cat-pagination {
  position: absolute;
  top: 15px;
  right: 8px;
  font-size: 12px;
  color: #999;
}
.wml-cat-carousel .wml-cat-pagination .page-startover-link {
  cursor: pointer;
}
.wml-cat-carousel .wml-cat-inner {
  padding: 0px;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(#ffffff 0%, #e6e6e6 100%);
  background-image: -o-linear-gradient(#ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(#ffffff 0%, #e6e6e6 100%);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.wml-cat-carousel .slide-wrap {
  position: absolute;
  top: 28px;
  -webkit-transition: 0ms cubic-bezier(0, 0, 0, 0.25, 1);
  -moz-transition: 0ms cubic-bezier(0, 0, 0, 0.25, 1);
  -o-transition: 0ms cubic-bezier(0, 0, 0, 0.25, 1);
  transition: 0ms cubic-bezier(0, 0, 0, 0.25, 1);
}
.wml-cat-carousel .slide {
  display: block;
  float: left;
}
.wml-cat-carousel .wml-cat-nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  height: 220px;
}
.wml-cat-carousel .wml-cat-nav .left-nav-title {
  font-size: 14px;
  color: #444;
  margin: 0;
}
.wml-cat-carousel .wml-cat-nav .l-left-nav {
  font-size: 12px;
  margin-left: 0px;
}
.wml-cat-carousel .wml-cat-nav .l-left-nav li {
  padding-top: 8px;
}
.wml-cat-carousel .arr-previous, .wml-cat-carousel .arr-next {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  height: 350px;
  width: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: url("/img/wml/sprites_cat_discovery.png") 0px 0px no-repeat;
}
.wml-cat-carousel .arr-previous.active, .wml-cat-carousel .arr-next.active {
  display: block;
  cursor: pointer;
}
.wml-cat-carousel .arr-previous .i-arr, .wml-cat-carousel .arr-next .i-arr {
  position: relative;
  display: block;
  margin-top: 156px;
  height: 30px;
  width: 30px;
  background: url("/img/wml/sprites_cat_discovery.png") 0px -370px no-repeat;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .wml-cat-carousel .arr-previous .i-arr, .wml-cat-carousel .arr-next .i-arr {
    display: none;
  }
}
.wml-cat-carousel .arr-previous {
  left: 0px;
}
.wml-cat-carousel .arr-previous .i-arr {
  left: 10px;
}
.wml-cat-carousel .arr-next .i-arr {
  background-position: -30px -370px;
  right: 10px;
}
.wml-cat-carousel .arr-next {
  right: 0px;
  background-position: -30px 0;
}
.wml-cat-carousel .vpt {
  width: 751px;
  margin: 0;
  padding: 0 28px;
  height: 355px;
}
.wml-cat-carousel .vpt .item {
  margin: 0 14px 0 0;
  width: 166px;
  height: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.04), 1px 2px 5px rgba(1, 1, 1, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.04), 1px 2px 5px rgba(1, 1, 1, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.04), 1px 2px 5px rgba(1, 1, 1, 0.3);
  text-align: left;
}
.wml-cat-carousel .vpt .item .item-link, .wml-cat-carousel .vpt .item .item-price, .wml-cat-carousel .vpt .item .item-review {
  margin: 0 10px;
}
.wml-cat-carousel .vpt .item .item-link {
  padding: 18px 0 10px;
  text-align: center;
}
.wml-cat-carousel .vpt .item .item-name {
  padding: 10px 0px 0px;
  color: #333333;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
}
.wml-cat-carousel .vpt .item .item-price {
  margin-top: 0;
  padding-bottom: 2px;
}
.wml-cat-carousel .vpt .item .item-price-single {
  position: relative;
  font-size: 23px;
  color: #333333;
}
.wml-cat-carousel .vpt .item .item-price-single sup {
  font-size: 11px;
}

.wml-cat-pov {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.wml-cat-pov .wml-cat-inner {
  padding: 0;
}
